.img_background {
  /* On met en place le fond d'écran */
  min-height: 100%;
  min-width: 100%;
  /* On indique un redimensionnement proportionnel */
  width: 100%;
  height: auto;
  /* L'image est positionnée en haut à gauche */
  position: relative;
  top: 0;
  left: 0;
}

/* Dimension du texte baissé en dessous du seuil d'écran "lg" (992px) */
@media screen and (max-width: 992px) {
  .join_us {
    font-size: 3em;
  }
}

@media screen and (max-width: 576px) {
  .join_us {
    font-size: 2em;
  }
}

@media screen and (min-width: 992px) {
  .join_us {
    font-size: 5em;
  }
}

.background_div {
  display: inline-block;
  position: relative;
}

/* Ajout du texte sur l'image en fond d'écran */
.join_us {
  z-index: 1;
  position: absolute;
  text-align: center;
  font-family: Georgia;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 35%;
  color: rgb(255, 255, 255);
  width: 70%;
}

.home_description {
  font-family: Georgia;
}